{% extends "layouts/base.html" %}
{% load i18n %}

{% block title %}{% trans "Change password" %}{% endblock %}

{% block content %}
    <form method="post" action="">
    {% csrf_token %}

        <div class="container" style="margin-bottom: 80px;">
            {{ form.non_field_errors }}
            <div class="checkout__input">
                <p>Old passwaord</p>
                {{ form.old_password.errors }}
                {{ form.old_password }}
            </div>
            <div class="checkout__input">
                <p>New Password</p>
                {{ form.new_password1.errors }}
                {{ form.new_password1 }}
            </div>
            <div class="checkout__input">
                <p>New Password</p>
                {{ form.new_password2.errors }}
                {{ form.new_password2 }}
            </div>
            <button class="site-btn float-right mr-3 mb-5"
                    type="submit" value="{% trans 'Change password' %}">Change password</button>
        </div>

    </form>
{% endblock %}


{# This is used by django.contrib.auth #}
